<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>webLinkConfig</key>
	<array>
		<dict>
			<key>title</key>
			<string>com.aboutus.policy</string>
			<key>url</key>
			<string>com.pl.submissionPolicyUrl</string>
			<key>cellID</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>title</key>
			<string>com.aboutus.email.parkRules</string>
			<key>url</key>
			<string>com.pl.themeParkRulesUrl</string>
			<key>cellID</key>
			<integer>10</integer>
		</dict>
	</array>
	<key>emailBodyOptions</key>
	<dict>
		<key>showAppName</key>
		<true/>
		<key>showAppVersion</key>
		<true/>
		<key>showOSVersion</key>
		<true/>
		<key>showDeviceName</key>
		<true/>
		<key>showLastRefreshed</key>
		<false/>
	</dict>
	<key>iconCornerRadius</key>
	<integer>4</integer>
</dict>
</plist>
