<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<array>
			<string>AB</string>
			<string>Alberta</string>
		</array>
		<array>
			<string>BC</string>
			<string>British Columbia</string>
		</array>
		<array>
			<string>MB</string>
			<string>Manitoba</string>
		</array>
		<array>
			<string>NB</string>
			<string>New Brunswick</string>
		</array>
		<array>
			<string>NL</string>
			<string>Newfoundland and Labrador</string>
		</array>
		<array>
			<string>NT</string>
			<string>Northwest Territories</string>
		</array>
		<array>
			<string>NS</string>
			<string>Nova Scotia</string>
		</array>
		<array>
			<string>NU</string>
			<string>Nunavut</string>
		</array>
		<array>
			<string>ON</string>
			<string>Ontario</string>
		</array>
		<array>
			<string>PE</string>
			<string>Prince Edward Island</string>
		</array>
		<array>
			<string>QC</string>
			<string>Quebec</string>
		</array>
		<array>
			<string>SK</string>
			<string>Saskatchewan</string>
		</array>
		<array>
			<string>YT</string>
			<string>Yukon Territory</string>
		</array>
	</array>
</plist>
