<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>Features</string>
		<key>items</key>
		<array>
			<string>alwaysShowLaunchTutorial</string>
			<string>turnOnTicketSales</string>
			<string>turnOnDiamondDays</string>
			<string>Enable PhotoPass (Vendomatic override)</string>
			<string>turnOnTimeMachine</string>
			<string>disableABTestingForMM</string>
			<string>overrideSellableDateForMM</string>
			<string>Enable Dine (Vend-o-matic override)</string>
			<string>enableMyPlansOnDashboard</string>
			<string>Enable DLR FASTPASS</string>
			<dict>
				<key>key</key>
				<string>customSellableDateForMM</string>
				<key>pickerOptions</key>
				<dict>
					<key>datePickerMode</key>
					<integer>1</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>Prototypes</string>
		<key>items</key>
		<array>
			<string>dynamicText</string>
			<string>cardScannerButton</string>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>Debugging</string>
		<key>items</key>
		<array>
			<string>enableTestFeedbackPrompt</string>
			<string>useStaticTicketData</string>
			<string>debugUIKitBackgroundThreadCalls</string>
			<string>forceLastIRDDisplayDate</string>
			<string>fakeUserLocationsEnabled</string>
			<string>createSixFeaturedEvents</string>
			<string>createThreeFeaturedEvents</string>
			<string>removeAllFeaturedEvents</string>
			<string>testAlertView</string>
			<string>Show log view button</string>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>WDPR</string>
		<key>items</key>
		<array>
			<string>isSignInEnabled</string>
			<string>isProfileEnabled</string>
			<string>isTicketAndPassesEnabled</string>
			<string>isParkHoursAndInfoEnabled</string>
			<string>isFeaturedPromotionalEnabled</string>
			<string>isTicketAndSalesEnabled</string>
			<string>isParkHoursAndInfoAnnualPassportEnabled</string>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>WDW - only</string>
		<key>items</key>
		<array>
			<dict>
				<key>key</key>
				<string>parkHours</string>
				<key>pickerOptions</key>
				<array>
					<string>A/B Target</string>
					<string>use couchbase</string>
					<string>use service call</string>
				</array>
				<key>detail</key>
				<string>Only relevant for WDW</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
