<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<array>
			<string>AL</string>
			<string>Alabama</string>
		</array>
		<array>
			<string>AK</string>
			<string>Alaska</string>
		</array>
		<array>
			<string>AZ</string>
			<string>Arizona</string>
		</array>
		<array>
			<string>AR</string>
			<string>Arkansas</string>
		</array>
		<array>
			<string>CA</string>
			<string>California</string>
		</array>
		<array>
			<string>CO</string>
			<string>Colorado</string>
		</array>
		<array>
			<string>CT</string>
			<string>Connecticut</string>
		</array>
		<array>
			<string>DE</string>
			<string>Delaware</string>
		</array>
		<array>
			<string>DC</string>
			<string>District Of Columbia</string>
		</array>
		<array>
			<string>FL</string>
			<string>Florida</string>
		</array>
		<array>
			<string>GA</string>
			<string>Georgia</string>
		</array>
		<array>
			<string>HI</string>
			<string>Hawaii</string>
		</array>
		<array>
			<string>ID</string>
			<string>Idaho</string>
		</array>
		<array>
			<string>IL</string>
			<string>Illinois</string>
		</array>
		<array>
			<string>IN</string>
			<string>Indiana</string>
		</array>
		<array>
			<string>IA</string>
			<string>Iowa</string>
		</array>
		<array>
			<string>KS</string>
			<string>Kansas</string>
		</array>
		<array>
			<string>KY</string>
			<string>Kentucky</string>
		</array>
		<array>
			<string>LA</string>
			<string>Louisiana</string>
		</array>
		<array>
			<string>ME</string>
			<string>Maine</string>
		</array>
		<array>
			<string>MD</string>
			<string>Maryland</string>
		</array>
		<array>
			<string>MA</string>
			<string>Massachusetts</string>
		</array>
		<array>
			<string>MI</string>
			<string>Michigan</string>
		</array>
		<array>
			<string>MN</string>
			<string>Minnesota</string>
		</array>
		<array>
			<string>MS</string>
			<string>Mississippi</string>
		</array>
		<array>
			<string>MO</string>
			<string>Missouri</string>
		</array>
		<array>
			<string>MT</string>
			<string>Montana</string>
		</array>
		<array>
			<string>NE</string>
			<string>Nebraska</string>
		</array>
		<array>
			<string>NV</string>
			<string>Nevada</string>
		</array>
		<array>
			<string>NH</string>
			<string>New Hampshire</string>
		</array>
		<array>
			<string>NJ</string>
			<string>New Jersey</string>
		</array>
		<array>
			<string>NM</string>
			<string>New Mexico</string>
		</array>
		<array>
			<string>NY</string>
			<string>New York</string>
		</array>
		<array>
			<string>NC</string>
			<string>North Carolina</string>
		</array>
		<array>
			<string>ND</string>
			<string>North Dakota</string>
		</array>
		<array>
			<string>OH</string>
			<string>Ohio</string>
		</array>
		<array>
			<string>OK</string>
			<string>Oklahoma</string>
		</array>
		<array>
			<string>OR</string>
			<string>Oregon</string>
		</array>
		<array>
			<string>PA</string>
			<string>Pennsylvania</string>
		</array>
		<array>
			<string>RI</string>
			<string>Rhode Island</string>
		</array>
		<array>
			<string>SC</string>
			<string>South Carolina</string>
		</array>
		<array>
			<string>SD</string>
			<string>South Dakota</string>
		</array>
		<array>
			<string>TN</string>
			<string>Tennessee</string>
		</array>
		<array>
			<string>TX</string>
			<string>Texas</string>
		</array>
		<array>
			<string>UT</string>
			<string>Utah</string>
		</array>
		<array>
			<string>VT</string>
			<string>Vermont</string>
		</array>
		<array>
			<string>VA</string>
			<string>Virginia</string>
		</array>
		<array>
			<string>WA</string>
			<string>Washington</string>
		</array>
		<array>
			<string>WV</string>
			<string>West Virginia</string>
		</array>
		<array>
			<string>WI</string>
			<string>Wisconsin</string>
		</array>
		<array>
			<string>WY</string>
			<string>Wyoming</string>
		</array>
	</array>
</plist>
