<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>showHeaderView</key>
	<true/>
	<key>showClosedForRefurbishment</key>
	<true/>
	<key>sections</key>
	<array>
		<array>
			<string>AnnualPassHoldersCell</string>
			<string>AnnualPassHoldersContentCell</string>
			<string>ParkHoursSection</string>
			<string>ExtraMagicHourCell</string>
			<string>SeparatorCell</string>
		</array>
		<array>
			<string>HoursDisclaimer</string>
		</array>
	</array>
</dict>
</plist>
