<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>supportedLocales</key>
	<array>
		<dict>
			<key>ignoreRegion</key>
			<false/>
			<key>language</key>
			<string>en</string>
			<key>region</key>
			<string>us</string>
			<key>scriptCode</key>
			<string>nil</string>
			<key>TicketAndSalesURL</key>
			<string></string>
			<key>pushNotificationsList</key>
			<string>DLR-generic</string>
			<key>operationsList</key>
			<array>
				<string>DLR-fastpass</string>
				<string>DLR-photopass</string>
			</array>
			<key>privacyPolicyURL</key>
			<string>https://disneyprivacycenter.com/</string>
			<key>legalInformationURL</key>
			<string>https://help.disney.com/articles/en_US/FAQ/Legal-Notices</string>
			<key>parkRulesURL</key>
			<string>https://disneyland.disney.go.com/park-rules/</string>
		</dict>
	</array>
	<key>defaultLocale</key>
	<dict>
		<key>parkLogoImage</key>
		<string>ParkLogo</string>
		<key>language</key>
		<string>en</string>
		<key>region</key>
		<string>us</string>
		<key>TicketAndSalesURL</key>
		<string></string>
		<key>pushNotificationsList</key>
		<string>DLR-generic</string>
		<key>operationsList</key>
		<array>
			<string>DLR-fastpass</string>
			<string>DLR-photopass</string>
		</array>
		<key>privacyPolicyURL</key>
		<string>https://disneyprivacycenter.com/</string>
		<key>legalInformationURL</key>
		<string>https://help.disney.com/articles/en_US/FAQ/Legal-Notices</string>
		<key>parkRulesURL</key>
		<string>https://disneyland.disney.go.com/park-rules/</string>
	</dict>
	<key>localDistantSupport</key>
	<dict>
		<key>localLanguageCode</key>
		<string></string>
		<key>localRegionCode</key>
		<string></string>
		<key>localAreaBoundsNE</key>
		<string></string>
		<key>localAreaBoundsSW</key>
		<string></string>
		<key>localCode</key>
		<string></string>
		<key>distantCode</key>
		<string></string>
	</dict>
</dict>
</plist>
