<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WDPRFeedbackEmailContent</key>
	<dict>
		<key>kWDPREmailSubjectKey</key>
		<string>com.aboutus.email.feedbackSubject</string>
		<key>kWDPREmailRecipientsKey</key>
		<array>
			<string>app.support@disneyland.com</string>
		</array>
	</dict>
</dict>
</plist>
