<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mappedNames</key>
	<dict>
		<key>en-US</key>
		<dict>
			<key>resortCategory</key>
			<string>Hotel Category</string>
			<key>resortCharacteristics</key>
			<string>Hotel Characteristics</string>
			<key>resortLocation</key>
			<string>Hotel Location</string>
			<key>resortAmenities</key>
			<string>Hotel Amenities</string>
			<key>Reservations Accepted</key>
			<string>Reservations Accepted</string>
			<key>entertainmentType</key>
			<string>Entertainment Type</string>
			<key>spaServices</key>
			<string>Spa Services</string>
			<key>guestServices</key>
			<string>Guest Services</string>
			<key>dining</key>
			<string>Dining Experience</string>
			<key>quickService</key>
			<string>Quick Service</string>
			<key>experienceType</key>
			<string>Experience Type</string>
			<key>activityType</key>
			<string>Activity Type</string>
			<key>cuisine</key>
			<string>Cuisine</string>
			<key>counterService</key>
			<string>Counter Service</string>
			<key>merchandise</key>
			<string>Merchandise</string>
			<key>priceRangeDining</key>
			<string>Price Range</string>
			<key>fastCasual</key>
			<string>Fast Casual</string>
			<key>otherDining</key>
			<string>Other Dining</string>
			<key>height</key>
			<string>Height</string>
			<key>serviceAnimals</key>
			<string>Service Animals</string>
			<key>thrillFactor</key>
			<string>Thrill Factor</string>
			<key>guestRating</key>
			<string>Guest Rating</string>
			<key>tableService</key>
			<string>Table Service</string>
			<key>diningPlan</key>
			<string>Dining Plan</string>
			<key>mobilityDisabilities</key>
			<string>Mobility Disabilities</string>
			<key>age</key>
			<string>Age</string>
			<key>interests</key>
			<string>Interests</string>
			<key>physicalConsiderations</key>
			<string>Physical Considerations</string>
			<key>hearingandVisualDisability</key>
			<string>Hearing and Visual Disability</string>
			<key>features</key>
			<string>Features</string>
		</dict>
	</dict>
</dict>
</plist>
